<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>)">

<h1><%= cocktail.name %></h1>
  <%= link_to "See details", cocktail_path(cocktail), class: "btn btn-primary"%>
</div>
