<h1>My Cocktails</h1>

<%@cocktails.each do |cocktail| %>
<li>
<%= cocktail.name %>
<%= link_to "See details", cocktail_path(cocktail), class: "btn btn-primary"%>
</li>
<% end %>

<%= cl_image_tag("jlla1e7pekcniugocvv3",
      width: 400, height: 300, crop: :fill) %>

<div class="margin20">
<%= link_to "Add a new", new_cocktail_path %>
</div>
