
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.lesechos.com/api/v1/images/view/5cdd48458fe56f30424c5a58/1280x720/ecwe00128018-1.jpg);">

    <h1>My Cocktails</h1>
  </div>

<div class="container">
    <%@cocktails.each do |cocktail| %>
    <%= render 'components/card', cocktail: cocktail%>
    <% end %>
</div>

